[Unit]
Description=Run Nano P2P Snapshot Pipeline hourly

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
